@media only screen and (max-width: 600px) {
  .personal-dialog-wrapper {
    width: calc(100%);
    max-width: 100dvw;
  }
  .personal-dialog-header {
    width: 100%;
  }
  .personal-dialog-title {
    width: 100%;
    font-size: 24px;
  }
  .personal-dialog-desc {
    font-size: 14px;
  }
  .dialog-user-list {
    width: 100%;
    padding: 0;
    margin-right: 10px;
  }
}
.dialog-user-list {
  width: 100%;
  padding: 0;
  padding-right: 10px;
}
.dialog-user-list::-webkit-scrollbar {
  width: 8px;
}

.dialog-user-list::-webkit-scrollbar-track {
  background: transparent;
}

.dialog-user-list::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 4px;
}
