@media only screen and (max-width: 600px) {
  .responsive_signup_container {
    padding: 32px 8px;
  }

  .responsive_signup_wrapper {
    width: 100%;
    justify-content: center;
    gap: 40px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .responsive_signup_container {
    height: 100%;
  }

  .responsive_signup_wrapper {
    width: 100%;
    justify-content: center;
    gap: 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .responsive_signup_container {
    padding: 32px 8px;
    height: 100vh;
  }

  .responsive_signup_wrapper {
    width: 100%;
    justify-content: center;
    gap: 60px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .responsive_signup_wrapper {
    width: 90%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .responsive_heading {
    height: fit-content;
    font-size: 55px;
    line-height: 60px;
    padding: 0 10px;
  }

  .responsive_signup_wrapper {
    width: 90%;
  }
}
