.toolbar button {
  padding: 5px 10px;
  color: #fff;
  background: none;
  cursor: pointer;
}
.mention {
  background: rgb(0, 128, 0, 0.2);
  color: green;
  padding: 2px 4px;
}
.toolbar {
  padding: 5px;
  display: flex;
  align-items: center;
}
.editor-container {
  background-color: var(--background);
  border: 1px solid var(--border);
  border-radius: 12px;
  z-index: 400;
  position: relative;
}
.editor-container.editor-has-file {
  height: 330px; /* apply when file is image or pdf */
}
.control-group {
  position: relative;
}
.editor-container ul li {
  list-style: disc;
}
.editor-container ol li {
  list-style: decimal;
}
.kumar {
  background: var(--primary);
  position: absolute;
  border-radius: 12px;
  top: 120px;
  right: 0;
  margin-right: 10px;
  padding: 10px 10px;
  cursor: pointer;
}
.kumar:hover {
  background: transparent;
  border: 1px solid var(--success, 0.3);
}

.tiptap {
  height: 120px;
  max-height: 500px;
  background-color: var(--background);
  padding: 4px 15px;
  border: 1px solid #ccc;
  color: #eee;
  border: #111;
  border-bottom: 0;
  border-radius: 0 0 12px 12px;
  overflow-y: auto;
  outline: none !important;
}
.tiptap code {
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
  color: rgba(248, 166, 12, 0.71);
}
.tiptap blockquote {
  border-left: 3px solid #ccc;
  margin: 1.5rem 0;
  padding-left: 1rem;
}
.is-editor-empty::before,
.is-empty::before {
  content: attr(data-placeholder);
  pointer-events: none;
  height: 1;
  color: #999;
  position: absolute;
  left: 0.75rem;
  font-size: 1rem;
  font-style: italic;
}
@media only screen and (max-width: 600px) {
  .editor-container {
    width: calc(100% - 10px);
    margin: auto;
    margin-bottom: 5px;
  }
  .kumar {
    top: 125px;
    padding: 8px;
  }
}
