.addon-group button {
  color: #556cd6;
  padding: 2px 5px;
  background: none;
  cursor: pointer;
}

.addon-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.first,
.last {
  display: flex;
  align-items: center;
}
.addon-container {
  border-radius: 0 0 12px 12px;
  padding: 5px 7px;
  border: 1px solid #ccc;
}
.last button {
  color: green;
}
