@import "./tailwind.css";

@layer utilities {
  .is-editor-empty::before {
    content: attr(data-placeholder);
    /* @apply text-black font-normal opacity-50 float-left h-0 pointer-events-none; */
  }
}
/* Input / Textarea text selection */
input::selection,
textarea::selection {
  background-color: var(--secondary);
  color: white;
}

.profile_active_user::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: green;
  border-radius: 50%;
  margin-left: 6px;
}

.signup-email-icon {
  margin-left: -30px;
}

@font-face {
  font-family: "entezar";
  src: url(../assets/fonts/entezar/saadopen.ttf);
}

.Entezar {
  font-family: "Entezar", sans-serif !important;
  word-spacing: 6px;
}
