.sideBar::-webkit-scrollbar {
  width: 8px;
}

.sideBar::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 4px;
}

.sideBar::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
@media only screen and (min-width: 768px) and (max-width: 912px) {
  .sideBar {
    height: 100vh;
  }
}
