.video-container {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}
.video-wrapper iframe {
  width: 100% !important;
  height: 100% !important;
}

/* When wrapper goes fullscreen */
.video-wrapper:fullscreen {
  width: 100vw !important;
  height: 100vh !important;
  position: fixed !important;
  top: 50%;
  left: 0;
}

.video-container iframe {
  width: 100%;
  margin: 0;
  object-fit: cover;
  height: 100%;
  object-position: center;
  border: none;
  background-color: #142744;
  padding: 0;
  border-radius: 12px;
}