.video-container {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.video-container iframe {
  width: 100%;
  margin: 0;
  object-fit: cover;
  height: 100%;
  object-position: center;
  border: none;
  background-color: #142744;
  padding: 0;
  border-radius: 12px;
}