.video-container {
  width: 100%;
  border-radius: 12px;
}

.video-container iframe {
  width: 100%;
  margin: 0;
  object-fit: cover;
  z-index: 0;
  height: 100%;
  border: none;
  background-color: var(--background);
  padding: 0;
  border-radius: 12px;
}
.vp-center {
  width: 100%;
}
.player {
  background-color: aquamarine;
  width: 100%;
}
.watermark-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 2147483647 !important;
  /* Max z-index */
  pointer-events: none;

  /* Force GPU acceleration */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  will-change: transform;

  /* Ensure it's visible */
  opacity: 1 !important;
  visibility: visible !important;
}

.screen-button {
  position: absolute;
  bottom: 2%;
  left: 75%;
  z-index: 10;
}
.fullscreen-button {
  position: absolute;
  bottom: 4%;
  left: 91%;
  z-index: 10;
}
