.topbar-container {
  width: 100%;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #556cd6;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3346a8;
}
@media only screen and (max-width: 600px) {
  .topbar-container {
    justify-content: space-evenly;
  }
  .responsive_search_input {
    width: 300px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .responsive_search_input {
    width: 300px;
  }
}
