.widget-styles {
  width: 700px;
  max-width: 1000px;
  height: 650px;
  max-height: 1000px;
  min-height: 500px;

  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .widget-styles {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .widget-wrapper {
    width: 100%;
    margin: 0;
    background: #000;
    padding: 0;
  }
  .calender-section {
    padding: 5px;
  }
}
