.messages-container {
  height: 80%;
  width: calc(100% - 3%);
  margin: 0 20px;
  scroll-behavior: smooth;
  overflow-y: scroll;
}
.messages-container::-webkit-scrollbar {
  width: 8px;
}

.messages-container::-webkit-scrollbar-thumb {
  background: #556cd6;
  border-radius: 4px;
}

.messages-container::-webkit-scrollbar-thumb:hover {
  background: #293c91;
}
.message-body {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message-body a {
  color: #556cd6;
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .messages-container {
    margin: 0;
    margin-left: 5px;
  }
  .responsive_channel_header h1 {
    font-size: 20px;
  }
  .responsive_channel_header p {
    font-size: 14px;
  }
  .responsive_channel_header button {
    font-size: 12px;
    width: 70px;
  }
  .responsive_message_content {
    font-size: 12px;
  }
}
